# Модуль 5. **Інші алгоритми навчання з учителем**

In [133]:
import zipfile
import os
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np

from colors import GRAY, YELLOW, CYAN, RESET, GRAY_BACK, WHITE

    Розпаковка архіву

In [134]:
zip_file_path = "homework.zip"

with zipfile.ZipFile(zip_file_path, "r") as zip_ref:
    zip_ref.extractall()

data_folder = "data"

subdirectories = [
    subdir
    for subdir in os.listdir(data_folder)
    if os.path.isdir(os.path.join(data_folder, subdir))
]
print(GRAY_BACK, "unzipping done:", RESET, subdirectories)

 unzipping done:  ['idle', 'running', 'stairs', 'walking']

    Завантаження даних з файлів .csv у словник датасетів

In [135]:
dataframes = {}

for subdir in subdirectories:
    subdir_path = os.path.join(data_folder, subdir)
    files = os.listdir(subdir_path)
    # print(files)

    df = pd.DataFrame()

    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(subdir_path, file)
            data = pd.read_csv(file_path)
            df = pd.concat([df, data], ignore_index=True)

    dataframes[subdir] = df

for subdir, df in dataframes.items():
    print(f"Dataframe for {GRAY_BACK} {WHITE} {subdir.upper()}:", RESET)
    display(df.head())

Dataframe for   IDLE:

   accelerometer_X  accelerometer_Y  accelerometer_Z
0         1.000776         4.616021         8.576031
1         0.718261         4.209007         8.446744
2        -0.909797        -0.282516         9.203311
3         5.099650         0.148441         8.418014
4         1.762132        -0.162806         9.251195

Dataframe for   RUNNING:

   accelerometer_X  accelerometer_Y  accelerometer_Z
0        -4.151545         1.781286         2.173935
1         2.020706         3.706224         9.921572
2         1.762132         4.242526         8.078037
3        -0.445322        11.080365         6.756438
4         5.573702        13.436260        15.054740

Dataframe for   STAIRS:

   accelerometer_X  accelerometer_Y  accelerometer_Z
0         6.727707         2.973599         3.936068
1         7.891289         0.440533        -3.342306
2         6.301539        -1.154005         0.067038
3         4.534618        -5.755661        -1.369483
4         4.563349        -3.730166        -0.028730

Dataframe for   WALKING:

   accelerometer_X  accelerometer_Y  accelerometer_Z
0         2.322376         3.643975        11.827356
1         1.781286         4.668694         6.148310
2         7.963115        -4.113238         1.359907
3         1.996764        -1.398214         1.163582
4         5.185841       -12.143391         4.687847

    Додавання до кожного датасету стовпця, що відповідає дії: 0 - 'running', 1 - 'idle', 2 - 'stairs', 3 - 'walking'.

In [136]:
for index, (subdir, df) in enumerate(dataframes.items()):
    df["activity"] = index
    dataframes[subdir] = df
    # display(df)

    Об'єднання всіх датасетів в один

In [137]:
merged_df = pd.concat(dataframes.values(), ignore_index=True)
merged_df

        accelerometer_X  accelerometer_Y  accelerometer_Z  activity
0              1.000776         4.616021         8.576031         0
1              0.718261         4.209007         8.446744         0
2             -0.909797        -0.282516         9.203311         0
3              5.099650         0.148441         8.418014         0
4              1.762132        -0.162806         9.251195         0
...                 ...              ...              ...       ...
193855         5.109226       -15.452178        -1.470040         3
193856         6.373365       -11.741165        -8.226476         3
193857         3.289633        -9.993398        -0.383072         3
193858        -2.978387        -3.050213         1.273715         3
193859        -4.347870        -9.926360        -1.642422         3

[193860 rows x 4 columns]

    Нормалізація за допомогою StandardScaler

In [142]:
scaler = StandardScaler()

# Нормалізуємо дані

normalized_data = scaler.fit_transform(merged_df)

# Створюємо DataFrame з нормалізованими даними
normalized_df = pd.DataFrame(normalized_data, columns=merged_df.columns)

# Відновлюємо стовпець "activity" з merged_df (нормалізація йому шкодить))
normalized_df["activity"] = merged_df["activity"]

normalized_df

        accelerometer_X  accelerometer_Y  accelerometer_Z  activity
0             -0.109791         0.241917         0.941538         0
1             -0.143404         0.209288         0.923560         0
2             -0.337109        -0.150782         1.028762         0
3              0.377889        -0.116234         0.919565         0
4             -0.019205        -0.141185         1.035420         0
...                 ...              ...              ...       ...
193855         0.379029        -1.366884        -0.455385         3
193856         0.529435        -1.069384        -1.394879         3
193857         0.162535        -0.929271        -0.304241         3
193858        -0.583227        -0.372659        -0.073862         3
193859        -0.746167        -0.923897        -0.479355         3

[193860 rows x 4 columns]